<!-- <%= form_tag(user_path, method: :put)  do |form| %>
    <%= label_tag "Usernamer" %>
    <%= text_field_tag :username, @user.username %><br>
    <%= label_tag"Email" %>
    <%= text_field_tag :email, @user.email %><br>
    <%= label_tag "Password" %>
    <%= text_field_tag :password, @user.password %><br>
    <%= submit_tag "update user"  %>
<% end %> -->

<h1>MODIFI USER => <%= @user.username %></h1>

<%= form_for @user do |u| %>
<%= u.label "Usernamer" %>
<%= u.text_field :username%><br>
<%= u.label "Email"%>
<%= u.text_field :email, placeholder: "example@example.com"  %><br>
<%= u.label "Password" %>
<%= u.text_field :password %><br>
<%= u.submit %>
<% end %>
